<b:style src="./view.css"/>
<b:isolate/>
<b:define name="runnerState" type="enum" values="running fault ok"/>

<div class="layout">
  <div class="header header_{runnerState}">
    <div class="header__buttons">
      <button class="header-button" event-click="run">
        {l10n:button.caption.{runnerState}}
      </button>
    </div>
    <span class="header-caption">
      <span b:show="{name}">{name}</span>
    </span>    
    <div b:show="{testSuiteLoaded}" class="header__stat">
      <span class="stat">
        <span class="stat__label">{l10n:informer.total}</span>
        <span class="stat__value">{total}</span>
      </span>
      <span class="stat">
        <span class="stat__label">{l10n:informer.doneTests}</span>
        <span class="stat__value">{done}</span>
      </span>
      <span class="stat">
        <span class="stat__label">{l10n:informer.doneAsserts}</span>
        <span class="stat__value">{assert}</span>
      </span>
      <span class="stat">
        <span class="stat__label">{l10n:informer.time}</span>
        <span class="stat__value">{time} <span class="stat__unit">s</span></span>
      </span>
    </div>
  </div>
  <div class="sidebar">
    <!--{toc}-->
  </div>
  <div class="content">
    <!--{tests}-->
  </div>
</div>
