.layout
{
  background: #E0E0E0;
  min-height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 640px;

  font-size: small;
  font-family: Tahoma, serif;
}

.header
{
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background: #789;
  color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, .75);
  white-space: nowrap;
  transition: background-color .5s;
}
.header.header_running
{
  background: #DA0;
  transition: background-color .1s;
}
.header.header_fault
{
  background: #B22;
}
.header.header_ok
{
  background: #080;
}
.header .header-caption
{
  font-size: 18px;
  padding: 10px 10px 12px;
  line-height: 1;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 40%;
  max-width: 340px;
}

.header .header__buttons
{
  float: right;
  height: 40px;
  position: relative;
  z-index: 1;
}
.header .header-button
{
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 14ex;
  font-size: 16px;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, .5);
  background: black;
  background: rgba(0,0,0,.75);
  color: white;
  cursor: pointer;
  outline: none;
}

.header .header__stat
{
  height: 100%;
  background: rgba(0, 0, 0, .3);
  overflow: hidden;
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0, .05);
  margin-left: -1px;
}
.header .stat
{
  display: inline-block;
  height: 100%;
  min-width: 13ex;
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, .05);
}
.header .stat + .stat
{
  border-left: 1px solid rgba(255, 255, 255, .2);
}
.header .stat__label
{
  font-size: 11px;
  text-shadow: none;
  opacity: .5;
  display: block;
}
.header .stat__value
{
  font-size: 18px;
  position: relative;
}
.header .stat__unit
{
  font-size: 11px;
  text-shadow: none;
  opacity: .8;
  position: absolute;
  bottom: 2px;
  margin-left: 4px;
}

.sidebar
{
  clear: both;
  float: left;
  width: 40%;
  max-width: 340px;
}
.content
{
  overflow: hidden;
  background: #F0F0F0;
  min-height: 8em;
}
