.Basis-SyntaxHighlight
{
  font-size: 12px;
  background: #F8F8F8;
}

.Basis-SyntaxHighlight .even,
.Basis-SyntaxHighlight .odd
{
  background: none;
}

.Basis-SyntaxHighlight .lineContent
{
  border-left: none;
}