<b:style src="./view.css"/>
<b:style src="app:template/test-tree.css" ns="tree"/>
<b:isolate/>
<b:define name="type" type="enum" values="suite"/>
<b:define name="hasDelegate" type="bool"/>
<b:define name="state" type="enum" values="processing ready error"/>
<b:define name="pending" type="bool"/>

<div class="test {hasDelegate}">
  <div class="header">
    <div class="buttons">
      <span class="button button-pickup button-pickup_{type}" event-click="select">pick up</span>
    </div>
    <span class="caption">{name}</span>
    <span class="splitter splitter_{state}">
      &#32;&mdash;&#32;
    </span>
    <span class="state_state-{state} state_{pending}">
      {stateMessage}
    </span>
    <div b:show="{loc}" class="location">
      <span class="loc-link" event-click="openLoc" title="Open location">{loc}</span>
    </div>
  </div>
  <div{childNodesElement} class="tree:tree"/>
  <!--{sourceCode}-->
</div>
