.app-toc-item
{
  background: white;
  padding: 8px 16px 8px 8px;
  margin: 1px;
  position: relative;
  cursor: pointer;
    -webkit-transition: padding .15s, margin .15s;
    -moz-transition: padding .15s, margin .15s;
  transition: padding .15s, margin .15s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  user-select: none;
}
.app-toc-item:hover
{
  background: #F8F8F8;
}

.app-toc-item:after
{
  content: '';
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -10px;
  color: #888;
  background: url(arrow.png) no-repeat center center;
  opacity: .15;
  height: 20px;
  width: 12px;
    -webkit-transition: opacity .2s, right .35s;
    -moz-transition: opacity .2s, right .35s;
  transition: opacity .2s, right .35s;
}
.app-toc-item:hover:after
{
  opacity: .5;
}

.app-toc-item_selected,
.app-toc-item_selected:hover
{
  background: #FFF0D0;
  background: #F0F0F0;
  cursor: default;
  padding-right: 25px;
  margin-right: -8px;
}
.app-toc-item_selected:after,
.app-toc-item_selected:hover:after
{
  right: -15px;
  opacity: 0;
}

.app-toc-item__progress
{
  background: #369;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
  opacity: 0;
    -webkit-transition: width .2s ease-in, opacity 1s .15s;
    -moz-transition: width .2s ease-in, opacity 1s .15s;
  transition: width .2s ease-in, opacity 1s .15s;
}
.app-toc-item__progress_processing
{
  opacity: .4;
    -webkit-transition: width .25s ease-out;
    -moz-transition: width .25s ease-out;
  transition: width .25s ease-out;
}
.app-toc-item__progress_undefined
{
  display: none;
}

.app-toc-item__state
{
  position: relative;
  float: right;
  padding: 0 6px 0 1ex;
  white-space: nowrap;
}
.app-toc-item__state-ready
{
  color: #090;
}
.app-toc-item__state-error
{
  color: #D00;
}
.app-toc-item__state-processing,
.app-toc-item__state-pending
{
  color: #DA0;
}

.app-toc-item__name
{
  position: relative;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}