<b:style src="./toc-item.css"/>
<div class="app-toc-item app-toc-item_{selected}" event-click="select" event-dblclick="pickup">
  <span class="app-toc-item__progress app-toc-item__progress_{state}" style="width: {progress}%"/>
  <span class="app-toc-item__state app-toc-item__state-{state} app-toc-item__state-{pending}">
    {stateMessage}
  </span>
  <span class="app-toc-item__name">
    {name}
  </span>
</div>