<b:style src="./view.css"/>
<div id="layout">
  <div id="header">
    <span class="header-caption">Basis.js test runner</span>
    <div class="header-buttons">
      <button class="header-button" event-click="run">run</button>
    </div>
    <div b:show="{name}" class="header-test-suite-location">{name} {done} / {total} ({assert}) (time: {time} ms)</div>
  </div>
  <div id="sidebar">
    <!--{toc}-->
  </div>
  <div id="content">
    <!--{tests}-->
  </div>
</div>
