#layout
{
  background: #E0E0E0;
  min-height: 100%;
  overflow: hidden;
  min-width: 640px;
}

#sidebar
{
  float: left;
  width: 40%;
  max-width: 340px;
}
#content
{
  overflow: hidden;
  background: #F0F0F0;
  min-height: 8em;
}