<b:style src="view.css"/>
<div id="layout">
  <div id="sidebar">
    <button event-click="run">run</button>
    <button event-click="reset">reset</button>
    <div>{done} / {total} (time: {time} ms)</div>
    <!--{progress}-->
    <!--{toc}-->
  </div>
  <div id="content">
    <!--{tests}-->
  </div>
</div>
