<b:style src="test.css"/>
<div class="app-test app-test-{hasOwnEnvironment}">
  <span class="app-test-name">
    {name}
  </span>
  &#32;&mdash;&#32;
  <span class="app-test-state app-test-state_state-{state}">
    {stateMessage}
  </span>
</div>
