<b:style src="./test-case.css"/>
<b:include src="./test.tmpl" class="app-test-case">
  <!--<b:after ref="stateMessage">
    &#xA0;&#32;&#xA0;{errorMessage}
  </b:after>-->
  <b:append>
    <!--{source}-->
  </b:append>
</b:include>