.app-test
{
}

.app-test-header
{
  padding: 8px 0 8px 8px;
  cursor: pointer;
}
.app-test-header:hover
{
  background: #F0F0F0;
}

.app-test__select-button
{
  visibility: hidden;
  float: right;
  padding: 2px 4px;
  margin: -2px 4px -2px 4px;
  color: #68A;
  text-decoration: underline;
}
.app-test__select-button:hover
{
  background: #E0E0E0;
}
.app-test-header:hover .app-test__select-button
{
  visibility: visible;
}

.app-test-splitter
{
  display: none;
}
.app-test-splitter_ready,
.app-test-splitter_processing,
.app-test-splitter_error
{
  display: inline;
}

.app-test-state_state-ready
{
  color: #090;
  font-weight: bold;
}
.app-test-state_state-error
{
  color: #D00;
}
.app-test-state_state-processing
{
  color: #DA0;
}

.app-test-hasOwnEnvironment
{
  border: 1px solid green;
}