
.header
{
  padding: 8px 0 8px 8px;
  cursor: pointer;
}
.header:hover
{
  background: #F0F0F0;
}

.select-button
{
  visibility: hidden;
  float: right;
  padding: 2px 4px;
  margin: -2px 4px -2px 4px;
  color: #68A;
  text-decoration: underline;
}
.select-button:hover
{
  background: #E0E0E0;
}
.header:hover .select-button
{
  visibility: visible;
}

.splitter
{
  display: none;
}
.splitter_ready,
.splitter_processing,
.splitter_error
{
  display: inline;
}

.state_state-ready
{
  color: #080;
}
.state_state-error
{
  color: #D00;
}
.state_pending,
.state_state-processing
{
  color: #DA0;
}

.hasOwnEnvironment
{
  border: 1px solid green;
}
