<b:style src="./test-source.css"/>
<b:define name="beforeCount" type="enum" values="1"/>
<b:define name="afterCount" type="enum" values="1"/>
<b:define name="hasParent" type="bool"/>

<pre{code} class="Basis-SyntaxHighlight" event-click="openLoc">
  <div b:show="{beforeCount}" class="part part-before">
    <div b:show="{beforeCollapsed}" class="part-header part-header__before part-header__{hasParent}" event-click="toggleBefore">
      <span class="caption">Show before each code</span>
      <span class="before-count__{beforeCount}"> x {beforeCount}</span>
    </div>
    <div b:hide="{beforeCollapsed}" class="content">
      <!--{beforeCode}-->
    </div>
  </div>
  <div class="part content">
    <!--{sourceCode}-->
  </div>
  <div b:show="{afterCount}" class="part part-after">
    <div b:show="{afterCollapsed}" class="part-header part-header__after part-header__{hasParent}" event-click="toggleAfter">
      <span class="caption">Show after each code</span>
      <span class="after-count__{afterCount}"> x {afterCount}</span>
    </div>
    <div b:hide="{afterCollapsed}" class="content">
      <!--{afterCode}-->
    </div>
  </div>
</pre>
