<b:style src="./test.css"/>
<b:style src="./test-tree.css" ns="tree"/>
<b:isolate/>
<b:define name="state" type="enum" values="processing ready error"/>
<b:define name="hasOwnEnvironment" type="bool"/>
<b:define name="pending" type="bool"/>

<div class="tree:test {hasOwnEnvironment}">
  <div{header} class="header">
    <span class="select-button" event-click="select">
      pick up
    </span>
    <span>
      <span b:hide="{loc}">{name}</span>
      <span b:show="{loc}" class="loc-link" event-click="openLoc" title="Location: {loc}">{name}</span>
    </span>
    <span class="splitter splitter_{state}">
      &#32;&mdash;&#32;
    </span>
    <span class="state_state-{state} state_{pending}">
      {stateMessage}
    </span>
  </div>
</div>
