.test
{
  padding: 10px;
  display: none;
}

.hasDelegate
{
  display: block;
}
.header
{
  padding-left: 8px;
  margin-bottom: 7px;
}
.caption
{
  font-size: 200%;
}
.buttons
{
  float: right;
  padding: 8px 9px 0 0;
}
.button
{
  text-decoration: underline;
  cursor: pointer;
  color: #666;
}
.button:hover
{
  color: black;
}
.button-pickup
{
  display: none;
}
.button-pickup_suite
{
  display: inline;
}

.splitter
{
  display: none;
}
.splitter_ready,
.splitter_processing,
.splitter_error
{
  display: inline;
}

.state_state-ready
{
  color: #080;
}
.state_state-error
{
  color: #D00;
}
.state_pending,
.state_state-processing
{
  color: #DA0;
}

.location
{
  text-align: right;
}
.loc-link
{
  color: #888;
  border-bottom: 1px solid #888;
  border-color: rgba(128, 128, 128, .2);
  cursor: pointer;
}
.loc-link:hover
{
  color: #A00;
  border-color: #A00;
  border-color: rgba(160, 0, 0, .2);
}
